

<div class="company-form">
  <h2>{{ isEditMode ? "Modifier l'entreprise" : 'Nouvelle entreprise' }}</h2>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Nom
      <input formControlName="name" type="text" />
    </label>

    <label>
      Description
      <textarea formControlName="description"></textarea>
    </label>

    <label>
      Adresse
      <input formControlName="address" type="text" />
    </label>

    <label>
      Ville
      <input formControlName="city" type="text" />
    </label>

    <label>
      Pays
      <input formControlName="country" type="text" />
    </label>

    <label>
      Site web
      <input formControlName="websiteUrl" type="text" />
    </label>

    <label>
  Taille de l'entreprise
  <select formControlName="companySize">
    <option value="" disabled selected>Sélectionner...</option>
    <option value="STARTUP">Startup</option>
    <option value="SMALL">Petite (1-50)</option>
    <option value="MEDIUM">Moyenne (51-250)</option>
    <option value="LARGE">Grande (251-1000)</option>
    <option value="ENTERPRISE">Grand groupe (1000+)</option>
  </select>
</label>
    <div class="company-form__actions">
      <button type="button" (click)="cancel()">Annuler</button>
     <button type="submit" [disabled]="loading || form.invalid">
  {{ isEditMode ? 'Enregistrer' : 'Créer' }}
</button>
    </div>
  </form>
</div>